body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.container {
    width: 80%;
    max-width: 550px;
    background: rgba(255, 255, 255, 0.15);
    /* filter: blur(15px); */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.group{
    display: flex;
    justify-content: space-between;
}
.group h5{
    margin: 0px;
    margin-bottom: 10px;
}
.container h2{
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

input {
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    color: #fff;
    font-size: 15px;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
}

input::placeholder {
    color: #e8e8e8;
}

input:focus {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 0 10px rgba(255,255,255,0.4);
}

button {
    width: 90%;
    padding: 12px;
    background: linear-gradient(135deg, #5b86e5, #36d1dc);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 600;
    transition: 0.25s;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

button:hover {
    transform: scale(1.04);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

#resultBox {
    width: 95%;
    background: rgba(255, 255, 255, 0.18);
    /* filter: blur(10px); */
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    color: #fff;
    font-family: "Courier New", monospace;
    text-align: left;
    min-height: 60px;
    white-space: pre-line;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    border: 1px solid rgba(255, 255, 255, 0.25);
}
